# App Config
PROJECT_NAME="Clinic AI Booking Backend"
API_V1_STR="/api/v1"
DEBUG=True
ENVIRONMENT=development

# Database Config (PostgreSQL Async)
POSTGRES_SERVER=localhost
POSTGRES_PORT=5432
POSTGRES_USER=clinic_user
POSTGRES_PASSWORD=clinic_password
POSTGRES_DB=clinic_db
DATABASE_URL=postgresql+asyncpg://clinic_user:clinic_password@localhost:5432/clinic_db

# JWT Security
SECRET_KEY=super_secret_clinic_jwt_key_project_1_change_in_production_2026
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440

# Email Gateway (Gmail SMTP)
SMTP_TLS=True
SMTP_PORT=587
SMTP_HOST=smtp.gmail.com
SMTP_USER=your_email@gmail.com
SMTP_PASSWORD=your_app_password
EMAILS_FROM_EMAIL=your_email@gmail.com
EMAILS_FROM_NAME="Phòng Khám Đa Khoa AI"

# AI Inference Service
AI_SERVICE_URL=http://localhost:8001/predict
AI_CONFIDENCE_THRESHOLD=0.60
